.banner {
    // Content of banner section
    .banner__content {
    z-index: 1;
    position: absolute;
    text-align: center;
    color: $white;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 460px;
    @media #{$info-phone}{
      top: 220px;
    }

    h2 {
      font-weight: 300;
      font-size: 62px;
      @media #{$info-phone}{
        font-size: 36px;
      }
      span {
        font-weight: 700;
      }
    }
    h3{
      font-weight: 300;
      font-size: 48px;
      margin-bottom: 18px;
      @media #{$info-phone}{
        font-size: 22px;
        margin-bottom: 5px;
      }
      span{
        color: $color-creative;
      }
    }
    p {
      position: absolute;
      font-weight: 300;
      font-size: 18px;
      left: 50%;
      transform: translateX(-50%);
      &::before{
        @include line($color-creative, 28px);
        left: -58px;
        margin: 10px 0 9px 0;

      }
      &::after {
        @include line($color-creative, 28px);;
        right: -58px;
        margin: 10px 0 9px 0;
      }

      @media #{$info-phone}{
        font-size: 12px;
        &::before{
          @include line($color-creative, 15px);
          left: -31px;
          margin: 8px 0 7px 0;

        }
        &::after {
          @include line($color-creative, 15px);
          right: -31px;
          margin: 8px 0 7px 0;
        }
      }
    }
  } // End resolve

    // Social icons
    nav {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-flow: row;
      z-index: 1;
      top: 730px;
      @media #{$info-phone}{
        top: 340px;
      }
      a {
        opacity: 0.5;
        img {
          padding-top: 4px;
          @media #{$info-phone} {
            padding-top: 4px;
            width: 12px;
          }
        }
        &:hover {
          opacity: 1;
          color: $white;
        }
        &.social__icon:not(:last-child) {
          margin-right: 15px;
        }
      }
    } // End resolve

    // Resolve background for banner section by slick
    .banner__background {
      margin-bottom: 0;
      ul{
        padding-right: 63px;
        flex-flow: column;
        @media #{$info-phone}{
          flex-flow: row;
        }
        &.slick-dots {
          top: 50%;
          transform: translateY(-30px);
          right: 0;
          left: auto;
          width: 0;
          @media #{$info-phone}{
            top: 365px;
            right: 0;
            left: 50%;
            transform: translateX(-30px);
            width: 60px;
          }
          li {
            display: block;
            margin-bottom: 15px;
            @media #{$info-phone}{
              display: inline-block;
            }
            button{
              width: 0;
              height: 0;
              &::before {
                //background-color: $black;
                border: 1px solid $grey;
              }
            }

            &.slick-active {
              button::before{
                background-color: $white;
              }
              @media #{$info-phone}{
                button::before {
                  background-color: $grey;
                }
              }
            }
          }
        }
      }
      &.slick-slider {
        margin-bottom: 0;
      }

      .banner__background__item {
        background-size: cover ;
        background-position: center;
        height: 800px;
        @media #{$info-phone}{
          height: 400px;
        }
      }
    } // End resolve
  }
