
  main {
    .item__content {
      z-index: 1;
      position: absolute;
      text-align: center;
      color: $white;
      left: 50%;
      transform: translateX(-50%);
      top: 460px;
      width: 100%;

      h2 {
        font-weight: 300;
        font-size: 62px;
        span {
          font-weight: 900;
        }
      }
      h3{
        font-weight: 300;
        font-size: 48px;
        margin-bottom: 18px;
        span{
          color: $color-creative;
        }
      }
      p {
        position: absolute;
        font-weight: 300;
        font-size: 18px;
        left: 50%;
        transform: translateX(-50%);
        &::before{
          @include line($color-creative, 28px);
          left: -58px;
          margin: 10px 0 9px 0;

        }
        &::after {
          @include line($color-creative, 28px);;
          right: -58px;
          margin: 10px 0 9px 0;
        }
      }
    }
    ul{
      position: absolute;
      top: 730px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-flow: row;
      z-index: 1;
      li {
        list-style: none;
        &.social__icon:not(:last-child) {
          margin-right: 15px;
        }
        &.social__icon {
          a{
            color: $white;
            opacity: 0.5;
            img {
              opacity: 0.5;
            }
            &:hover{
              opacity: 1.0;
              img{
                opacity: 1.0;
              }
            }
          }

        }
      }
    }
    .banner {
      margin-bottom: 0;
      &.slick-slider {
        margin-bottom: 0;
      }
      .slick-dots {
        li {
          display: block;
          margin-bottom: 15px;
          padding: 0;
          width: 10px;
          height: 10px;
          button{
              &::before {
              font-size: 0;
              opacity: 0.8;
              width: 8px;
              height: 8px;
              background-color: $black;
              border: 1px solid $white;
              border-radius: 50%;
              margin: 0;
            }
          }

          &.slick-active {
            button::before{
              background-color: $white;
            }
          }
        }
      }

      .banner__item {
        //position: relative;
        background-size: cover ;
        height: 800px;
        background-position: center;
      }
    }
  }

@media screen and (max-width: 767px) {
  main {
    .item__content {
      top: 220px;
      h2 {
        font-size: 36px;
      }
      h3 {
        font-size: 22px;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
        &::before{
          @include line($color-creative, 15px);
          left: -31px;
          margin: 8px 0 7px 0;

        }
        &::after {
          @include line($color-creative, 15px);
          right: -31px;
          margin: 8px 0 7px 0;
        }
      }
    }
    ul{
      top: 370px;
    }
    .banner {
      .slick-dots {
        top: 340px;
        li {
          display: inline-block;
        }
        &.slick-active {
          button::before {
            background-color: $grey;
          }
        }
      }
      .banner__item {
        height: 400px;

      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .banner {
      ul{
        &.slick-dots {
          top: 40%;
          right: 43px;
          left: auto;
          bottom: 0;
          width: 53px;
        }
      }

    }
  }
}
