
  main {
    .banner {
      margin-bottom: 0;
      &.slick-slider {
        margin-bottom: 0;
      }
      .slick-dots {
        li {
          display: block;
          margin-bottom: 15px;
          padding: 0;
          width: 10px;
          height: 10px;
          button{
              &::before {
              font-size: 0;
              opacity: 0.8;
              width: 8px;
              height: 8px;
              background-color: $black;
              border: 1px solid $white;
              border-radius: 50%;
              margin: 0;
            }
          }

          &.slick-active {
            button::before{
              background-color: $white;
            }
          }
        }
      }

      .banner__item {
        //position: relative;
        background-size: cover ;
        height: 800px;
        background-position: center;
        .item__content {
          position: absolute;
          text-align: center;
          color: $white;
          left: 50%;
          transform: translateX(-50%);
          bottom: 178px;
          width: 100%;
          h2 {
            font-weight: 300;
            font-size: 62px;
            margin-bottom: 10px;
            span {
              font-weight: 900;
            }
          }
          h3{
            font-weight: 300;
            font-size: 48px;
            margin-bottom: 22px;
            span{
              color: $color-creative;
            }
          }
          p {
            position: absolute;
            font-weight: 300;
            font-size: 18px;
            left: 50%;
            transform: translateX(-50%);
            &::before{
              @include line($color-creative, 28px);
              left: -58px;
              margin: 10px 0 9px 0;

            }
            &::after {
              @include line($color-creative, 28px);;
              right: -58px;
              margin: 10px 0 9px 0;
            }
          }
        }
        ul{
          &.item__contact{
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-flow: row;
            li {
              list-style: none;
              &.contact__item:not(:last-child) {
                margin-right: 15px;
              }
              &.contact__item{
                a{
                  color: $white;
                  opacity: 0.5;
                  img {
                    opacity: 0.5;
                  }
                  &:hover{
                    opacity: 1.0;
                    img{
                      opacity: 1.0;
                    }
                  }
                }

              }
            }
          }
        }
      }
    }
  }

@media screen and (max-width: 767px) {
  main {
    .banner {
      .slick-dots {
        bottom: 40px;
        li {
          display: inline-block;
        }
        &.slick-active {
          button::before {
            background-color: $grey;
          }
        }
      }
      .banner__item {
        height: 400px;
        .item__content {
          bottom: 100px;
          h2 {
            font-weight: 300;
            font-size: 36px;
            margin-bottom: 12px;
            span {
              font-weight: 900;
            }
          }
          h3 {
            font-weight: 400;
            font-size: 22px;
            margin-bottom: 7px;
            span {
              color: $color-creative;
            }
          }
          p {
            font-size: 14px;
            &::before{
              @include line($color-creative, 15px);
              left: -31px;
              margin: 8px 0 7px 0;

            }
            &::after {
              @include line($color-creative, 15px);
              right: -31px;
              margin: 8px 0 7px 0;
            }
          }
        }
        ul{
          &.item__contact{
            bottom: 20px;
          }
        }

      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .banner {
      .slick-dots {
        top: 40%;
        right: 43px;
        bottom: 0;
        width: 53px;
      }
    }
  }
}
