// Discuss begin
.discuss {
  // Container
  .container {
    padding-top: 94px;
    @media #{$info-phone} {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .title {
      margin-bottom: 75px;
    }

    // Grid
    .discuss__grid {
      display: grid;
      gap: 30px;
      width: 100%;
      margin-bottom: 106px;
      grid-template-columns: 3.86fr 11fr 1fr;
      @media #{$info-phone} {
        margin-bottom: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 310px 40px;
      }
      .address {
        h4 {
          font-size: 24px;
          font-weight: 400;
          margin-bottom: 38px;
        }
        p {
          font-size: 13px;
          opacity: 0.8;
          max-width: 170px;
        }
      }
      .form {
        h4 {
          color: $color-title-form;
          margin-bottom: 21px;
          font-size: 24px;
        }
        form {
          display: grid;
          column-gap: 30px;
          row-gap: 15px;
          width: 100%;
          grid-template-columns: 1fr 1fr;

          input[type=text] {
            width: 100%;
            padding: 19px 15px 19px 0;
            margin: 2px 0;
            border: none;
            border-bottom: 1px solid $color-text-form;
            &:focus {
              outline: none;
              border-bottom: 1px solid $color-background-header;
            }
          }
          .form__title {
            grid-column: 1/3;
            font-weight: 600;
            font-size: 24px;
          }
          .form__name {
            grid-column: 1/2;
            @media #{$info-phone} {
              grid-column: 1/3;
            }
          }

          .form__email {
            grid-column: 2/3;
            @media #{$info-phone} {
              grid-column: 1/3;
            }
          }
          .form__message {
            grid-column: 1/3;
          }
          .form__send {
            grid-column: 2/3;
            a {
              .social__icon{
                padding-top: 17px;
              }
              padding-top: 17px;
              float: right;
              display: flex;
              align-items: center;
              color: $black;
              svg {
                color: $color-send-icon;
                margin-right: 12px;
                width: 23px;
              }
            }
          }
        }
      }
      .socials {
        display: grid;
        grid-template-rows: 44px 44px 44px 44px 44px;
        @media #{$info-phone} {
          text-align: center;
          grid-template-rows: 1fr;
          grid-template-columns: 46px 46px 46px 46px 46px;
          margin: 0 auto;
        }
        a {
          height: 24px;
          line-height: 100%;
          @media #{$info-phone} {
            height: 20px;
          }
          text-align: center;
          padding: 0;
          margin-bottom: 10px;
          margin-top: 10px;
          svg {
            width: 26px;
            height: 100%;
            padding: 0;
            color: $color-icon;
          }
          img {
            height: 100%;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    } // End grid
  } // End container
  // Map
  iframe {
    width: 100%;
    height: 215px;
    margin: 0;
    display: block;
    &:focus {
      outline: 0;
    }
  }
  // Border between discuss section and footer
  border-bottom: 5px solid $color-title-form;
} // Discuss end
