// Feature begin
.features {
  background-color: $color-background-features;

  // Container begin
  .container {
    padding-bottom: 140px;
    padding-top: 74px;
    @media #{$info-phone} {
      padding-bottom: 50px;
      padding-top: 50px;
    }
    .features__slick {
      ul {
        bottom: -103px;
        @media #{$info-phone} {
          bottom: -50px;
        }
        &.slick-dots {
          li {
            button {
              &::before {
                border: 1px solid $color-border-dots;
              }
            }
            &.slick-active {
              button::before {
                background-color: $black;
              }
            }
          }
        }
      }
      &.slick-dotted {
        &.slick-slider {
          margin-bottom: 0;
        }
      }
      // Grid
      .features__grid {
        width: 100%;
        display: grid;
        // Show feature follow column (desktop)
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        // Show feature follow row (device)
        @media #{$info-phone} {
          grid-template-columns: auto;
          grid-template-rows: 1fr 1fr 1fr;
          grid-gap: 30px;
        }

        // Resolve feature element
        .grid__items {
          display: flex;
          flex-flow: row;
          // Icon in the first column
          .items__icon {
            margin-bottom: 2px;
            width: 70px;
            position: absolute;
            img {
              height: 40px;
              margin: 0 auto;
              @media #{$info-phone} {
                margin-right: 30px;
              }
            }
          }

          // Content in the second column
          .items__content {
            margin-left: 70px;
            h4 {
              margin-bottom: 20px;
              font-size: 20px;
              @media #{$info-phone} {
                font-size: 15px;
              }
            }
            p {
              font-size: 13px;
              @media #{$info-phone} {
                font-size: 10px;
              }
              opacity: 0.5;
            }
          }
        }
      } // End grid
    }
  } // Container end
}  // Feature end
