// Team begin
.team {
  // Container
  .container {
    padding-bottom: 215px;
    padding-top: 94px;
    @media #{$info-phone} {
      padding-bottom: 50px;
      padding-top: 50px;
    }
    .title {
      margin-bottom: 108px;
      @media #{$info-phone} {
        margin-bottom: 50px;
      }
    }
    .team__slick {
      text-align: center;
      // Position of dots
      ul {
        bottom: -105px;
        @media #{$info-phone} {
          bottom: -50px;
        }
        &.slick-dots {
          // Attribute of dots
          li {
            button {
              &::before {
                border: 1px solid $color-border-dots;
              }
            }
            &.slick-active {
              button::before {
                background-color: $black;
              }
            }
          }
        }
      }
      &.slick-dotted {
        &.slick-slider {
          margin-bottom: 0;
        }
      }
      .teammember__card {
        background-position: center;
        position: relative;
        overflow: hidden;
        margin-right: 30px;
        @media #{$info-phone} {
          margin-right: 0;
        }
        .card__image {
          position: relative;
          img {
            height: 300px;
            margin-bottom: 17px;
            display: block;
            @media #{$info-phone} {
              height: 200px;
              margin-left: auto;
              margin-right: auto;
            }
          }
          .card__hover {
            height: 280px;
            @media #{$info-phone} {
              height: 190px;
            }
          }
          .image__hover {
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
            @media #{$info-phone} {
              padding-top: 10px;
              width: 150px;
            }
            h5 {
              font-size: 16px;
              margin-bottom: 14px;
              @media #{$info-phone} {
                font-size: 12px;
                margin-bottom: 6px;
              }
            }
            p {
              font-size: 16px;
              @media #{$info-phone} {
                font-size: 12px;
              }
            }
            nav {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 23px;
              display: flex;
              justify-content: space-between;
              width: 134px;
              margin: 45px auto 23px;
              @media #{$info-phone} {
                margin: 10px auto 0;
                bottom: 5px;
              }
              a {
                width: 42px;
                display: block;
                text-align: center;
                line-height: 42px;
                background: $color-background-icon;
                img {
                  height: 20px;
                  width: 20px;
                  margin: 11px auto;
                  @media #{$info-phone} {
                    height: 15px;
                    width: 15px;
                    margin: 14px auto;
                  }
                }
                &:hover {
                  color: $white;
                  opacity: 0.5;
                  img {
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }

        .card__info {
          h4 {
            font-size: 18px;
            margin-bottom: 7px;
            font-weight: 600;
          }
          p {
            font-size: 14px;
            opacity: 0.5;
          }
        }

        &:hover {
          .card__image {
            .image__hover {
              bottom: 0;
            }
          }
          .card__info {
            h4 {
              color: $color-tilte;
            }
          }
        }
      } // End resolve
    }
  } // End container
} // Team end
