a {
    color: white;
    text-decoration: none;
    &:hover {
        color: $lightblue;
        text-decoration: none;
        border: none;
    }
}

ul,
ol,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

* {
    margin: 0;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

// Container begin
.container {
    max-width: 1170px;
    margin: 0 auto;
    //width: 100%;
    height: 100%;
    position: relative;
    @media #{$info-phone} {
        padding: 0 15px 0 15px;
    }

}
// Container end

// Resolve social icon
.social__icon {
    a {
        color: $white;
        opacity: 0.5;

        img {
            opacity: 0.5;
        }

        &:hover {
            opacity: 1.0;

            img {
                opacity: 1.0;
            }
        }
    }
}
// End resolve

// Resolve slick slider
.slick-slider {
    ul {
        position: absolute;
        &.slick-dots {
            bottom: 0;
            li {
                margin-bottom: 15px;
                padding: 0;
                width: 10px;
                height: 10px;
                button {
                    &::before {
                        font-size: 0;
                        opacity: 0.8;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin: 0;
                    }
                }
            }
        }
    }
}
// End resolve

// Resolve title contain title, line, describe
.title {
    text-align: center;
    h3 {
        color: $color-tilte;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 17px;
        display: flex;
        flex-flow: column;
        font-size: 28px;
        @media #{$info-phone} {
            font-size: 20px;
        }
        span {
            max-width: 230px;
            margin: 0 auto;
            position: relative;
            &::before {
                @include line($color-heart-item, 90px);
                left: 28px;
                margin: 18px 0 7px 0;
                @media #{$info-phone} {
                    margin-top: 10px;
                }
            }
            &::after {
                @include line($color-heart-item, 90px);
                right: 28px;
                margin: 18px 0 7px 0;
                @media #{$info-phone} {
                    margin-top: 10px;
                }
            }
        }
    }
    p {
        max-width: 970px;
        margin: 35px auto 0 auto;
        opacity: 0.5;
        font-size: 18px;
        @media #{$info-phone} {
            font-size: 13px;
        }
    }
}
// End resolve

// Resolve image when hover
.image__hover {
    width: 100%;
    opacity: 0.8;
    color: $white;
    text-align: center;
    background-color: $color-tilte;
    position: absolute;
    transition: bottom 400ms ease-in-out;
    bottom: 100%;
    @media #{$info-phone} {
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }
}
// End resolve


