* {box-sizing: border-box;}

nav {
  background-color: $color-background;
  width: 100%;

  .navbar {
      overflow: hidden;
  }
  .navbar__inner{
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid red;
  }
  .navbar__items {
     align-items: center;
     display: flex;
     float: left;
     color: $white;
     text-align: center;
     font-size: 16px;
     a {
       padding: 12px;
       text-decoration: none;
       line-height: 45px;
       color: $white;
       font-family: 'Open Sans', sans-serif;

       &.icon{
         float: right;
       }

       &.navbar__brand{
         font-weight: bold;
         font-size: 28px;
         font-family: 'Pacifico', cursive;
       }

       &.line {
         font-size: 16px;
       }
       &.tag__line{
         font-size: 16px;
         opacity: 0.5;
       }
     }

   }

  .navbar__items--right {
    float: right;
  }

  @media #{$info-phone} {
  }

  @media screen and (max-width: 767px){
    .navbar__items--right {
      &.responsive {
        position: relative;
        display: block;
        z-index: 1;

        &:hover {
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }

        a {
          float: none;
          display: block;
          text-align: left;
        }

        .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .navbar__items a {
      text-align: right;

      &.navbar__brand{
        font-size: 24px;
      }

      &.tag__line{
        font-size: 12px;
      }
    }

    .navbar__items--right {
      float: none;
      a:not(:first-child) {
        display: none;
      }
    }
    .icon {
        display: block;
        float: right;
        opacity: 0.5;
        margin: 10px;
    }
}

  @media screen and (min-width: 767px) {
    .icon{
       display: none;
    }
  }
}