* { box-sizing: border-box; }

.navbar {
  //border: 1px solid red;
  background-color: $color-background;
  position: relative;
  min-height: 70px;
  margin-bottom: 0;

  .navbar__inner {
    max-width: 1170px;
    margin: 0 auto;
    //border: 1px solid yellowgreen;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 70px;
    text-align: center;
    font-size: 13px;
    flex-wrap: wrap;

    .inner__brand {
      display: flex;
      align-items: center;
      a {
        padding: 12px;
        text-decoration: none;
        color: $white;
        font-family: 'Open Sans', sans-serif;


        &.brand__logo {
          font-weight: bold;
          font-size: 28px;
          font-family: 'Pacifico', cursive;
        }

        &.brand__line {
          font-size: 20px;
        }

        &.brand__tagline {
          font-size: 13px;
          opacity: 0.5;
        }
      }
    }
    .inner__toggle {
      display: none;
    }

    .inner__collapse {
      margin-top: 33px;
      a {
        padding: 12px;
        text-decoration: none;
        color: $white;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .navbar {
    .navbar__inner {
      min-height: 50px;
      .inner__brand {
        a {

          &.brand__logo {
            font-size: 24px;
            margin-left: 20px;
          }

          &.brand__line {
            display: none;
          }

          &.brand__tagline {
            display: none;
          }
        }
      }

      .inner__toggle {
        display: block;
        opacity: 0.5;
        margin: 20px 20px;
        font-size: 15px;
      }

      .inner__collapse {
        padding: 0;
        display: none;
        position: relative;
        width: 100%;

        &.show {
          display: flex;
          z-index: 1;
          max-width: 1170px;

          &:hover {
            border: none;
            cursor: pointer;
          }

          a {
            display: flex;
            width: 100%;
            border-radius: 1px solid $color-default-darker;

            &:hover {
              background-color: $color-default-darker;
            }
          }
        }
      }
    }
  }
}