html {
  scroll-behavior: smooth;
}

// Container begin
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;

}  // Container end

// Resolve social icon
.social__icon {
  a {
    color: $white;
    opacity: 0.5;

    img {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1.0;

      img {
        opacity: 1.0;
      }
    }
  }
}  // End resolve

// Resolve slick slider
.slick-slider {
  ul {
    position: absolute;
    &.slick-dots {
      bottom: 0;
      li {
        margin-bottom: 15px;
        padding: 0;
        width: 10px;
        height: 10px;
        button {
          &::before {
            font-size: 0;
            opacity: 0.8;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin: 0;
          }
        }
      }
    }
  }
}  // End resolve

// Resolve title contain title, line, describe
.title {
  text-align: center;
  margin-bottom: 50px;
  @media #{$info-phone} {
    margin-bottom: 30px;
  }
  h3 {
    color: $color-tilte;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    flex-flow: column;
    font-size: 28px;
    margin-bottom: 21px;
    @media #{$info-phone} {
      font-size: 20px;
    }
    span {
      max-width: 230px;
      margin: 0 auto;
      position: relative;
      &::before {
        @include line($color-heart-item, 90px);
        left: 28px;
        margin: 22px 0 7px 0;
        @media #{$info-phone} {
          margin-top: 10px;
        }
      }
      &::after {
        @include line($color-heart-item, 90px);
        right: 28px;
        margin: 22px 0 7px 0;
        @media #{$info-phone} {
          margin-top: 10px;
        }
      }
    }
  }
  p {
    display: inline-block;
    max-width: 970px;
    color: $color-title-describe;
    font-weight: 600;
    font-size: 18px;
    @media #{$info-phone} {
      font-size: 13px;
    }
  }
}  // End resolve

// Resolve image when hover
.image__hover {
  opacity: 0.8;
  color: $white;
  text-align: center;
  background-color: $color-tilte;
  position: absolute;
  transition: bottom 400ms ease-in;
  bottom: 100%;
  @media #{$info-phone} {
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }
}  // End resolve









