.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  width: 100%;
  height: 100%;
  position: relative;
}

ul{
  position: absolute;
  &.slick-dots {
    bottom: 0;
    li {
      margin-bottom: 15px;
      padding: 0;
      width: 10px;
      height: 10px;
      button{
        &::before {
          font-size: 0;
          opacity: 0.8;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin: 0;
        }
      }
    }
  }
}

.title {
  text-align: center;
  h3 {
    color: $color-tilte;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 22px;
    font-size: 28px;
  }
  div {
    max-width: 230px;
    margin: 0 auto;
    position: relative;
    &::before{
      @include line($color-heart-item, 90px);
      margin: 8px 0 7px 0;
      left: 0;
    }
    &::after{
      @include line($color-heart-item, 90px);
      margin: 8px 0 7px 0;
      right: 0;
    }
  }

  h5 {
    max-width: 970px;
    margin: 35px auto 0 auto;
    opacity: 0.5;
    font-size: 18px;
  }
}
