.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

ul{
  position: absolute;
  &.slick-dots {
    bottom: 0;
    li {
      margin-bottom: 15px;
      padding: 0;
      width: 10px;
      height: 10px;
      button{
        &::before {
          font-size: 0;
          opacity: 0.8;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin: 0;
        }
      }
    }
  }
}

.title__features {
  padding-top: 76px;
  @media #{$info-phone}{
  padding-top: 50px;
}
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  h3 {
    color: $color-tilte;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 22px;
  }
  div{
    text-align: center;
    &::before{
      @include line($color-heart-item, 90px);
      left: -70px;
      margin: 8px 0 7px 0;
    }
    &::after{
      @include line($color-heart-item, 90px);
      right: -70px;
      margin: 8px 0 7px 0;
    }
  }
}