.features {
  .container{
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid red;
    .title__features {
      padding-top: 76px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      h3 {
        color: $color-tilte;
        text-transform: uppercase;
        font-weight: 900;
      }
      div{
        text-align: center;
        &::before{
          @include line($color-heart-item, 90px);
          left: -114px;
          margin: 8px 0 7px 0;
        }
        &::after{
          @include line($color-heart-item, 90px);
          right: -114px;
          margin: 8px 0 7px 0;
        }
      }
    }

    .features__grid{
      margin-top: 200px;
      height: 178px;
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto;
      .grid__items:not(:last-child){
        padding-right: 30px;
      }
      .grid__items {
        width: 370px;

        background-color: red;
      }
    }
  }

}