.features {
  background-color: $color-background-features;
  height: 460px;
  @media #{$info-phone}{
    height: 600px;
  }
  .container{
    padding-top: 76px;
    padding-bottom: 76px;
    @media #{$info-phone}{
      padding-top: 50px;
      padding-bottom: 50px;
    }
     .features__slick {
       ul {
         bottom: -120px;
         @media #{$info-phone}{
           //top: 450px;
         }
         &.slick-dots {
           li {
             button{
               &::before {
                 border: 1px solid $color-border-dots;
               }
             }
             &.slick-active {
               button::before{
                 background-color: $black;
               }
             }
           }
         }
       }

       .features__grid{
         margin-top: 35px;
         @media #{$info-phone}{
           margin-top: 10px;
         }
         @media #{$info-phone}{
           //height: 440px;
         }
         width: 100%;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-gap: 30px;
         @media #{$info-phone}{
           grid-template-columns: auto;
           grid-template-rows: 1fr 1fr 1fr;
           grid-gap: 30px;
         }
         .grid__items {
           display: flex;
           flex-flow: row;
           .items__icon {
             width: 70px;
             position: absolute;
             img {
               width: 40px;
               height: 40px;
               margin: 0 auto;
               @media #{$info-phone}{
                 margin-right: 30px;
               }
             }

           }
           .items__content {
             margin-top: 2px;
             margin-left: 70px;
             h4 {
               margin-bottom: 20px;
               font-size: 20px;
               @media #{$info-phone}{
                 font-size: 15px;
               }
             }

             p {
               font-size: 13px;
               @media #{$info-phone}{
                 font-size: 10px;
               }
               opacity: 0.5;
             }
           }
         }
       }
     }

  }
}

.work {
  .container {
    padding-top: 76px;
    padding-bottom: 76px;
    @media #{$info-phone}{
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .work__link{
      text-align: center;
      margin-top: 55px;
      a {
        color: $black;
        padding: 10px;
        font-weight: bold;
        font-size: 14px;
        &:hover {
          color: $white;
          background-color: $color-tilte;
          border-radius: 10px;
        }

      }
      a:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .work__images--space {
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .work__image {
      width: 100%;
    }
    @media #{$info-phone}{
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
}