.features {
    background-color: $color-background-features;
    height: 460px;
    @media #{$info-phone} {
        height: 600px;
    }
    .container {
        padding-bottom: 76px;
        .title {
            margin-bottom: 35px;
            @media #{$info-phone} {
                margin-bottom: 10px;
            }
        }
        .features__slick {
            ul {
                bottom: -120px;
                @media #{$info-phone} {
                    bottom: -130px;
                }
                &.slick-dots {
                    li {
                        button {
                            &::before {
                                border: 1px solid $color-border-dots;
                            }
                        }
                        &.slick-active {
                            button::before {
                                background-color: $black;
                            }
                        }
                    }
                }
            }
            .features__grid {

                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 30px;
                @media #{$info-phone} {
                    grid-template-columns: auto;
                    grid-template-rows: 1fr 1fr 1fr;
                    grid-gap: 30px;
                }
                .grid__items {
                    display: flex;
                    flex-flow: row;
                    .items__icon {
                        margin-bottom: 2px;
                        width: 70px;
                        position: absolute;
                        img {
                            width: 40px;
                            height: 40px;
                            margin: 0 auto;
                            @media #{$info-phone} {
                                margin-right: 30px;
                            }
                        }
                    }
                    .items__content {
                        margin-left: 70px;
                        h4 {
                            margin-bottom: 20px;
                            font-size: 20px;
                            @media #{$info-phone} {
                                font-size: 15px;
                            }
                        }
                        p {
                            font-size: 13px;
                            @media #{$info-phone} {
                                font-size: 10px;
                            }
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}

.works {
    .title {
        margin-bottom: 55px;
    }
    .works__content {
        .works__link {
            margin-bottom: 40px;
            text-align: center;
            padding: 0 15px;
            .works__link--item {
                color: $black;
                padding: 6px 12px;
                font-weight: bold;
                font-size: 14px;
                @media #{$info-phone} {
                    padding: 4px 10px;
                    font-size: 11px;
                    margin-bottom: 6px;
                }
                &:hover {
                    color: $white;
                    background-color: $color-tilte;
                    border-radius: 10px;
                }
                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
        .works__images--space {
            width: 100%;
            display: grid;
            grid-gap: 0;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @media #{$info-phone} {
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;
            }
            .works__image {
                height: 300px;
                @media #{$info-phone} {
                    height: 200px;
                }
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                overflow: hidden;
                .image__hover {
                    img {
                        margin-bottom: 25px;
                    }
                    h5 {
                        margin-bottom: 6px;
                        font-size: 20px;
                        @media #{$info-phone} {
                            font-size: 16px;
                        }
                    }
                    p {
                        font-size: 20px;
                        @media #{$info-phone} {
                            font-size: 16px;
                        }
                    }
                }
                &:hover {
                    .image__hover {
                        height: 100%;
                        bottom: 0;
                        padding-top: 94px;
                        @media #{$info-phone} {
                            padding-top: 34px;
                        }
                    }
                }
            }
        }
    }
}

.team {
    .container {
        padding-bottom: 215px;
        @media #{$info-phone} {
            padding-bottom: 50px;
        }
        .title {
            margin-bottom: 108px;
            @media #{$info-phone} {
                margin-bottom: 50px;
            }
        }
        .team__slick {
            ul {
                bottom: -105px;
                @media #{$info-phone} {
                    bottom: -60px;
                }
                &.slick-dots {
                    li {
                        button {
                            &::before {
                                border: 1px solid $color-border-dots;
                            }
                        }
                        &.slick-active {
                            button::before {
                                background-color: $black;
                            }
                        }
                    }
                }
            }
            .team__member--grid {
                text-align: center;
                display: grid;
                gap: 30px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                @media #{$info-phone} {
                    grid-template-columns: 1fr;
                }
                .team__member--card {
                    background-position: center;
                    position: relative;
                    overflow: hidden;
                    img {
                        height: 300px;
                        margin-bottom: 19px;
                        display: block;
                        @media #{$info-phone} {
                            height: 200px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                    .team__member--info {
                        h4 {
                            font-size: 18px;

                            margin-bottom: 13px;
                        }
                        p {
                            font-size: 14px;
                            opacity: 0.5;
                        }
                    }
                    .team__member--hover {
                        height: 300px;
                        padding: 20px;
                        @media #{$info-phone} {
                            padding-top: 16px;
                        }
                    }
                    .image__hover {
                        @media #{$info-phone} {
                            width: 180px;
                        }
                        h5 {
                            padding-top: 20px;
                            font-size: 16px;
                            margin-bottom: 14px;
                            @media #{$info-phone} {
                                padding-top: 100px;
                                font-size: 12px;
                                margin-bottom: 6px;
                            }
                        }
                        p {
                            font-size: 16px;
                            @media #{$info-phone} {
                                font-size: 12px;
                            }
                        }
                        nav {
                            display: flex;
                            justify-content: space-between;
                            width: 134px;
                            margin: 45px auto 23px;
                            @media #{$info-phone} {
                                margin: 10px auto 0;
                            }
                            a {
                                width: 42px;
                                height: 42px;
                                display: block;
                                text-align: center;
                                line-height: 42px;
                                background: $color-background-icon;
                                img {
                                    height: 20px;
                                    width: 20px;
                                    margin: 11px auto;
                                    @media #{$info-phone} {
                                        height: 15px;
                                        width: 15px;
                                        margin: 14px auto;
                                    }
                                }
                                &:hover {
                                    color: $white;
                                    opacity: 0.5;
                                    img {
                                        opacity: 0.5;
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        .image__hover {
                            bottom: 69px;
                        }
                        .team__member--info {
                            h4 {
                                color: $color-tilte;
                            }
                        }
                    }
                }
            }
        }
    }
}

.funfact {
    position: relative;
    background-size: cover ;
    background-position: center;
    height: 600px;
    .container {
        z-index: 1;
        padding-bottom: 157px;
        @media #{$info-phone}{
            padding-bottom: 50px;
        }
        .title{
            margin-bottom: 23px;
        }
        .funfact__grid {
            text-align: center;
            display: grid;
            gap: 30px;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @media #{$info-phone} {
                grid-template-columns: 1fr 1fr;
            }
            .funfact__grid--item {
                color: $white;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 130px;
                    height: 130px;
                    margin-bottom: 38px;
                    @media #{$info-phone} {
                        width: 80px;
                        height: 80px;
                    }
                }
                .item__info {
                    h2 {
                        font-weight: 900;
                        font-size: 60px;
                        margin-bottom: 6px;
                        @media #{$info-phone} {
                            font-size: 40px;
                        }
                    }
                    p {
                        text-transform: uppercase;
                        font-size: 18px;
                        @media #{$info-phone} {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.discuss {
    .container {
        .title {
            margin-bottom: 80px;
        }
        .discuss__grid {
            margin-bottom: 107px;
            display: grid;
            gap: 30px;
            width: 100%;
            grid-template-columns: 270px 770px 70px;
            @media #{$info-phone} {
                grid-template-columns: 1fr;
                grid-template-rows: 200px 240px 30px;
            }
            .discuss__grid--address {
                h4 {
                    font-size: 24px;
                    font-weight: 100;
                    margin-bottom: 38px;
                }
                p {
                    font-size: 13px;
                    opacity: 0.8;
                    max-width: 170px;
                }
            }
            .discuss__grid--form {
                h4 {
                    color: $color-title-form;
                    margin-bottom: 50px;
                }
                form {
                    display: grid;
                    gap: 30px;
                    width: 100%;
                    grid-template-columns: 1fr 1fr;

                    input[type=text] {
                        width: 100%;
                        padding: 8px 20px;
                        margin: 2px 0;
                        box-sizing: border-box;
                        border: none;
                        border-bottom: 1px solid $color-text-form;
                    }

                    label {
                        color: $color-text-form;
                    }

                    .discuss__grid--title {
                        grid-column: 1/3;
                        font-weight: 600;
                        font-size: 24px;
                    }
                    .discuss__grid--name {
                        grid-column: 1/2;
                    }
                    .discuss__grid--email {
                        grid-column: 2/3;
                    }
                    .discuss__grid--message {
                        grid-column: 1/3;
                    }
                    .discuss__grid--send {
                        grid-column: 2/3;
                        a {
                            .social__icon{
                                padding-top: 17px;
                            }
                            float: right;
                            display: flex;
                            align-items: center;
                            color: $black;
                            svg {
                                color: $color-send-icon;
                                margin-right: 12px;
                                width: 23px;
                            }
                        }
                    }
                }
            }
            .socials__item {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                @media #{$info-phone} {
                    text-align: center;
                    grid-template-rows: 1fr;
                    grid-template-columns: 50px 50px 50px 50px 50px;
                    margin: 0 auto;
                }
                a {
                    height: 24px;
                    @media #{$info-phone} {
                        height: 20px;
                    }
                    text-align: center;
                    padding: 0;
                    margin-bottom: auto;
                    margin-top: auto;
                    svg {
                        width: 26px;
                        height: 100%;
                        padding: 0;
                        color: $color-icon;
                    }
                    img {
                        height: 100%;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    iframe {
        width: 100%;
        height: 215px;
    }
    border-bottom: 5px solid $color-title-form;
}

