/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
------------------------------------------------------------- */
.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.bottom-10 {
  margin-bottom: 10px;
}
@media only screen and (min-width: 641px) {
  .bottom-10 {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-10 {
    margin-bottom: 30px;
  }
}

.bottom-11 {
  margin-bottom: 11px;
}
@media only screen and (min-width: 641px) {
  .bottom-11 {
    margin-bottom: 22px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-11 {
    margin-bottom: 33px;
  }
}

.bottom-12 {
  margin-bottom: 12px;
}
@media only screen and (min-width: 641px) {
  .bottom-12 {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-12 {
    margin-bottom: 36px;
  }
}

.bottom-13 {
  margin-bottom: 13px;
}
@media only screen and (min-width: 641px) {
  .bottom-13 {
    margin-bottom: 26px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-13 {
    margin-bottom: 39px;
  }
}

.bottom-14 {
  margin-bottom: 14px;
}
@media only screen and (min-width: 641px) {
  .bottom-14 {
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-14 {
    margin-bottom: 42px;
  }
}

.bottom-15 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 641px) {
  .bottom-15 {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-15 {
    margin-bottom: 45px;
  }
}

.bottom-16 {
  margin-bottom: 16px;
}
@media only screen and (min-width: 641px) {
  .bottom-16 {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-16 {
    margin-bottom: 48px;
  }
}

.bottom-17 {
  margin-bottom: 17px;
}
@media only screen and (min-width: 641px) {
  .bottom-17 {
    margin-bottom: 34px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-17 {
    margin-bottom: 51px;
  }
}

.bottom-18 {
  margin-bottom: 18px;
}
@media only screen and (min-width: 641px) {
  .bottom-18 {
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-18 {
    margin-bottom: 54px;
  }
}

.bottom-19 {
  margin-bottom: 19px;
}
@media only screen and (min-width: 641px) {
  .bottom-19 {
    margin-bottom: 38px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-19 {
    margin-bottom: 57px;
  }
}

.bottom-20 {
  margin-bottom: 20px;
}
@media only screen and (min-width: 641px) {
  .bottom-20 {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-20 {
    margin-bottom: 60px;
  }
}

.bottom-21 {
  margin-bottom: 21px;
}
@media only screen and (min-width: 641px) {
  .bottom-21 {
    margin-bottom: 42px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-21 {
    margin-bottom: 63px;
  }
}

.bottom-22 {
  margin-bottom: 22px;
}
@media only screen and (min-width: 641px) {
  .bottom-22 {
    margin-bottom: 44px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-22 {
    margin-bottom: 66px;
  }
}

.bottom-23 {
  margin-bottom: 23px;
}
@media only screen and (min-width: 641px) {
  .bottom-23 {
    margin-bottom: 46px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-23 {
    margin-bottom: 69px;
  }
}

.bottom-24 {
  margin-bottom: 24px;
}
@media only screen and (min-width: 641px) {
  .bottom-24 {
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-24 {
    margin-bottom: 72px;
  }
}

.bottom-25 {
  margin-bottom: 25px;
}
@media only screen and (min-width: 641px) {
  .bottom-25 {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-25 {
    margin-bottom: 75px;
  }
}

.bottom-26 {
  margin-bottom: 26px;
}
@media only screen and (min-width: 641px) {
  .bottom-26 {
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-26 {
    margin-bottom: 78px;
  }
}

.bottom-27 {
  margin-bottom: 27px;
}
@media only screen and (min-width: 641px) {
  .bottom-27 {
    margin-bottom: 54px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-27 {
    margin-bottom: 81px;
  }
}

.bottom-28 {
  margin-bottom: 28px;
}
@media only screen and (min-width: 641px) {
  .bottom-28 {
    margin-bottom: 56px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-28 {
    margin-bottom: 84px;
  }
}

.bottom-29 {
  margin-bottom: 29px;
}
@media only screen and (min-width: 641px) {
  .bottom-29 {
    margin-bottom: 58px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-29 {
    margin-bottom: 87px;
  }
}

.bottom-30 {
  margin-bottom: 30px;
}
@media only screen and (min-width: 641px) {
  .bottom-30 {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-30 {
    margin-bottom: 90px;
  }
}

.bottom-31 {
  margin-bottom: 31px;
}
@media only screen and (min-width: 641px) {
  .bottom-31 {
    margin-bottom: 62px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-31 {
    margin-bottom: 93px;
  }
}

.bottom-32 {
  margin-bottom: 32px;
}
@media only screen and (min-width: 641px) {
  .bottom-32 {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-32 {
    margin-bottom: 96px;
  }
}

.bottom-33 {
  margin-bottom: 33px;
}
@media only screen and (min-width: 641px) {
  .bottom-33 {
    margin-bottom: 66px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-33 {
    margin-bottom: 99px;
  }
}

.bottom-34 {
  margin-bottom: 34px;
}
@media only screen and (min-width: 641px) {
  .bottom-34 {
    margin-bottom: 68px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-34 {
    margin-bottom: 102px;
  }
}

.bottom-35 {
  margin-bottom: 35px;
}
@media only screen and (min-width: 641px) {
  .bottom-35 {
    margin-bottom: 70px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-35 {
    margin-bottom: 105px;
  }
}

.bottom-36 {
  margin-bottom: 36px;
}
@media only screen and (min-width: 641px) {
  .bottom-36 {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-36 {
    margin-bottom: 108px;
  }
}

.bottom-37 {
  margin-bottom: 37px;
}
@media only screen and (min-width: 641px) {
  .bottom-37 {
    margin-bottom: 74px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-37 {
    margin-bottom: 111px;
  }
}

.bottom-38 {
  margin-bottom: 38px;
}
@media only screen and (min-width: 641px) {
  .bottom-38 {
    margin-bottom: 76px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-38 {
    margin-bottom: 114px;
  }
}

.bottom-39 {
  margin-bottom: 39px;
}
@media only screen and (min-width: 641px) {
  .bottom-39 {
    margin-bottom: 78px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-39 {
    margin-bottom: 117px;
  }
}

.bottom-40 {
  margin-bottom: 40px;
}
@media only screen and (min-width: 641px) {
  .bottom-40 {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-40 {
    margin-bottom: 120px;
  }
}

.bottom-41 {
  margin-bottom: 41px;
}
@media only screen and (min-width: 641px) {
  .bottom-41 {
    margin-bottom: 82px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-41 {
    margin-bottom: 123px;
  }
}

.bottom-42 {
  margin-bottom: 42px;
}
@media only screen and (min-width: 641px) {
  .bottom-42 {
    margin-bottom: 84px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-42 {
    margin-bottom: 126px;
  }
}

.bottom-43 {
  margin-bottom: 43px;
}
@media only screen and (min-width: 641px) {
  .bottom-43 {
    margin-bottom: 86px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-43 {
    margin-bottom: 129px;
  }
}

.bottom-44 {
  margin-bottom: 44px;
}
@media only screen and (min-width: 641px) {
  .bottom-44 {
    margin-bottom: 88px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-44 {
    margin-bottom: 132px;
  }
}

.bottom-45 {
  margin-bottom: 45px;
}
@media only screen and (min-width: 641px) {
  .bottom-45 {
    margin-bottom: 90px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-45 {
    margin-bottom: 135px;
  }
}

.bottom-46 {
  margin-bottom: 46px;
}
@media only screen and (min-width: 641px) {
  .bottom-46 {
    margin-bottom: 92px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-46 {
    margin-bottom: 138px;
  }
}

.bottom-47 {
  margin-bottom: 47px;
}
@media only screen and (min-width: 641px) {
  .bottom-47 {
    margin-bottom: 94px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-47 {
    margin-bottom: 141px;
  }
}

.bottom-48 {
  margin-bottom: 48px;
}
@media only screen and (min-width: 641px) {
  .bottom-48 {
    margin-bottom: 96px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-48 {
    margin-bottom: 144px;
  }
}

.bottom-49 {
  margin-bottom: 49px;
}
@media only screen and (min-width: 641px) {
  .bottom-49 {
    margin-bottom: 98px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-49 {
    margin-bottom: 147px;
  }
}

.bottom-50 {
  margin-bottom: 50px;
}
@media only screen and (min-width: 641px) {
  .bottom-50 {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-50 {
    margin-bottom: 150px;
  }
}

.bottom-51 {
  margin-bottom: 51px;
}
@media only screen and (min-width: 641px) {
  .bottom-51 {
    margin-bottom: 102px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-51 {
    margin-bottom: 153px;
  }
}

.bottom-52 {
  margin-bottom: 52px;
}
@media only screen and (min-width: 641px) {
  .bottom-52 {
    margin-bottom: 104px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-52 {
    margin-bottom: 156px;
  }
}

.bottom-53 {
  margin-bottom: 53px;
}
@media only screen and (min-width: 641px) {
  .bottom-53 {
    margin-bottom: 106px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-53 {
    margin-bottom: 159px;
  }
}

.bottom-54 {
  margin-bottom: 54px;
}
@media only screen and (min-width: 641px) {
  .bottom-54 {
    margin-bottom: 108px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-54 {
    margin-bottom: 162px;
  }
}

.bottom-55 {
  margin-bottom: 55px;
}
@media only screen and (min-width: 641px) {
  .bottom-55 {
    margin-bottom: 110px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-55 {
    margin-bottom: 165px;
  }
}

.bottom-56 {
  margin-bottom: 56px;
}
@media only screen and (min-width: 641px) {
  .bottom-56 {
    margin-bottom: 112px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-56 {
    margin-bottom: 168px;
  }
}

.bottom-57 {
  margin-bottom: 57px;
}
@media only screen and (min-width: 641px) {
  .bottom-57 {
    margin-bottom: 114px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-57 {
    margin-bottom: 171px;
  }
}

.bottom-58 {
  margin-bottom: 58px;
}
@media only screen and (min-width: 641px) {
  .bottom-58 {
    margin-bottom: 116px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-58 {
    margin-bottom: 174px;
  }
}

.bottom-59 {
  margin-bottom: 59px;
}
@media only screen and (min-width: 641px) {
  .bottom-59 {
    margin-bottom: 118px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-59 {
    margin-bottom: 177px;
  }
}

.bottom-60 {
  margin-bottom: 60px;
}
@media only screen and (min-width: 641px) {
  .bottom-60 {
    margin-bottom: 120px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-60 {
    margin-bottom: 180px;
  }
}

.bottom-61 {
  margin-bottom: 61px;
}
@media only screen and (min-width: 641px) {
  .bottom-61 {
    margin-bottom: 122px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-61 {
    margin-bottom: 183px;
  }
}

.bottom-62 {
  margin-bottom: 62px;
}
@media only screen and (min-width: 641px) {
  .bottom-62 {
    margin-bottom: 124px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-62 {
    margin-bottom: 186px;
  }
}

.bottom-63 {
  margin-bottom: 63px;
}
@media only screen and (min-width: 641px) {
  .bottom-63 {
    margin-bottom: 126px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-63 {
    margin-bottom: 189px;
  }
}

.bottom-64 {
  margin-bottom: 64px;
}
@media only screen and (min-width: 641px) {
  .bottom-64 {
    margin-bottom: 128px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-64 {
    margin-bottom: 192px;
  }
}

.bottom-65 {
  margin-bottom: 65px;
}
@media only screen and (min-width: 641px) {
  .bottom-65 {
    margin-bottom: 130px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-65 {
    margin-bottom: 195px;
  }
}

.bottom-66 {
  margin-bottom: 66px;
}
@media only screen and (min-width: 641px) {
  .bottom-66 {
    margin-bottom: 132px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-66 {
    margin-bottom: 198px;
  }
}

.bottom-67 {
  margin-bottom: 67px;
}
@media only screen and (min-width: 641px) {
  .bottom-67 {
    margin-bottom: 134px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-67 {
    margin-bottom: 201px;
  }
}

.bottom-68 {
  margin-bottom: 68px;
}
@media only screen and (min-width: 641px) {
  .bottom-68 {
    margin-bottom: 136px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-68 {
    margin-bottom: 204px;
  }
}

.bottom-69 {
  margin-bottom: 69px;
}
@media only screen and (min-width: 641px) {
  .bottom-69 {
    margin-bottom: 138px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-69 {
    margin-bottom: 207px;
  }
}

.bottom-70 {
  margin-bottom: 70px;
}
@media only screen and (min-width: 641px) {
  .bottom-70 {
    margin-bottom: 140px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-70 {
    margin-bottom: 210px;
  }
}

.bottom-71 {
  margin-bottom: 71px;
}
@media only screen and (min-width: 641px) {
  .bottom-71 {
    margin-bottom: 142px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-71 {
    margin-bottom: 213px;
  }
}

.bottom-72 {
  margin-bottom: 72px;
}
@media only screen and (min-width: 641px) {
  .bottom-72 {
    margin-bottom: 144px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-72 {
    margin-bottom: 216px;
  }
}

.bottom-73 {
  margin-bottom: 73px;
}
@media only screen and (min-width: 641px) {
  .bottom-73 {
    margin-bottom: 146px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-73 {
    margin-bottom: 219px;
  }
}

.bottom-74 {
  margin-bottom: 74px;
}
@media only screen and (min-width: 641px) {
  .bottom-74 {
    margin-bottom: 148px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-74 {
    margin-bottom: 222px;
  }
}

.bottom-75 {
  margin-bottom: 75px;
}
@media only screen and (min-width: 641px) {
  .bottom-75 {
    margin-bottom: 150px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-75 {
    margin-bottom: 225px;
  }
}

.bottom-76 {
  margin-bottom: 76px;
}
@media only screen and (min-width: 641px) {
  .bottom-76 {
    margin-bottom: 152px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-76 {
    margin-bottom: 228px;
  }
}

.bottom-77 {
  margin-bottom: 77px;
}
@media only screen and (min-width: 641px) {
  .bottom-77 {
    margin-bottom: 154px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-77 {
    margin-bottom: 231px;
  }
}

.bottom-78 {
  margin-bottom: 78px;
}
@media only screen and (min-width: 641px) {
  .bottom-78 {
    margin-bottom: 156px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-78 {
    margin-bottom: 234px;
  }
}

.bottom-79 {
  margin-bottom: 79px;
}
@media only screen and (min-width: 641px) {
  .bottom-79 {
    margin-bottom: 158px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-79 {
    margin-bottom: 237px;
  }
}

.bottom-80 {
  margin-bottom: 80px;
}
@media only screen and (min-width: 641px) {
  .bottom-80 {
    margin-bottom: 160px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-80 {
    margin-bottom: 240px;
  }
}

.bottom-81 {
  margin-bottom: 81px;
}
@media only screen and (min-width: 641px) {
  .bottom-81 {
    margin-bottom: 162px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-81 {
    margin-bottom: 243px;
  }
}

.bottom-82 {
  margin-bottom: 82px;
}
@media only screen and (min-width: 641px) {
  .bottom-82 {
    margin-bottom: 164px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-82 {
    margin-bottom: 246px;
  }
}

.bottom-83 {
  margin-bottom: 83px;
}
@media only screen and (min-width: 641px) {
  .bottom-83 {
    margin-bottom: 166px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-83 {
    margin-bottom: 249px;
  }
}

.bottom-84 {
  margin-bottom: 84px;
}
@media only screen and (min-width: 641px) {
  .bottom-84 {
    margin-bottom: 168px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-84 {
    margin-bottom: 252px;
  }
}

.bottom-85 {
  margin-bottom: 85px;
}
@media only screen and (min-width: 641px) {
  .bottom-85 {
    margin-bottom: 170px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-85 {
    margin-bottom: 255px;
  }
}

.bottom-86 {
  margin-bottom: 86px;
}
@media only screen and (min-width: 641px) {
  .bottom-86 {
    margin-bottom: 172px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-86 {
    margin-bottom: 258px;
  }
}

.bottom-87 {
  margin-bottom: 87px;
}
@media only screen and (min-width: 641px) {
  .bottom-87 {
    margin-bottom: 174px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-87 {
    margin-bottom: 261px;
  }
}

.bottom-88 {
  margin-bottom: 88px;
}
@media only screen and (min-width: 641px) {
  .bottom-88 {
    margin-bottom: 176px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-88 {
    margin-bottom: 264px;
  }
}

.bottom-89 {
  margin-bottom: 89px;
}
@media only screen and (min-width: 641px) {
  .bottom-89 {
    margin-bottom: 178px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-89 {
    margin-bottom: 267px;
  }
}

.bottom-90 {
  margin-bottom: 90px;
}
@media only screen and (min-width: 641px) {
  .bottom-90 {
    margin-bottom: 180px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-90 {
    margin-bottom: 270px;
  }
}

.bottom-91 {
  margin-bottom: 91px;
}
@media only screen and (min-width: 641px) {
  .bottom-91 {
    margin-bottom: 182px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-91 {
    margin-bottom: 273px;
  }
}

.bottom-92 {
  margin-bottom: 92px;
}
@media only screen and (min-width: 641px) {
  .bottom-92 {
    margin-bottom: 184px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-92 {
    margin-bottom: 276px;
  }
}

.bottom-93 {
  margin-bottom: 93px;
}
@media only screen and (min-width: 641px) {
  .bottom-93 {
    margin-bottom: 186px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-93 {
    margin-bottom: 279px;
  }
}

.bottom-94 {
  margin-bottom: 94px;
}
@media only screen and (min-width: 641px) {
  .bottom-94 {
    margin-bottom: 188px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-94 {
    margin-bottom: 282px;
  }
}

.bottom-95 {
  margin-bottom: 95px;
}
@media only screen and (min-width: 641px) {
  .bottom-95 {
    margin-bottom: 190px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-95 {
    margin-bottom: 285px;
  }
}

.bottom-96 {
  margin-bottom: 96px;
}
@media only screen and (min-width: 641px) {
  .bottom-96 {
    margin-bottom: 192px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-96 {
    margin-bottom: 288px;
  }
}

.bottom-97 {
  margin-bottom: 97px;
}
@media only screen and (min-width: 641px) {
  .bottom-97 {
    margin-bottom: 194px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-97 {
    margin-bottom: 291px;
  }
}

.bottom-98 {
  margin-bottom: 98px;
}
@media only screen and (min-width: 641px) {
  .bottom-98 {
    margin-bottom: 196px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-98 {
    margin-bottom: 294px;
  }
}

.bottom-99 {
  margin-bottom: 99px;
}
@media only screen and (min-width: 641px) {
  .bottom-99 {
    margin-bottom: 198px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-99 {
    margin-bottom: 297px;
  }
}

.bottom-100 {
  margin-bottom: 100px;
}
@media only screen and (min-width: 641px) {
  .bottom-100 {
    margin-bottom: 200px;
  }
}
@media only screen and (min-width: 1025px) {
  .bottom-100 {
    margin-bottom: 300px;
  }
}

.top-10 {
  margin-top: 10px;
}

.top-11 {
  margin-top: 11px;
}

.top-12 {
  margin-top: 12px;
}

.top-13 {
  margin-top: 13px;
}

.top-14 {
  margin-top: 14px;
}

.top-15 {
  margin-top: 15px;
}

.top-16 {
  margin-top: 16px;
}

.top-17 {
  margin-top: 17px;
}

.top-18 {
  margin-top: 18px;
}

.top-19 {
  margin-top: 19px;
}

.top-20 {
  margin-top: 20px;
}

.top-21 {
  margin-top: 21px;
}

.top-22 {
  margin-top: 22px;
}

.top-23 {
  margin-top: 23px;
}

.top-24 {
  margin-top: 24px;
}

.top-25 {
  margin-top: 25px;
}

.top-26 {
  margin-top: 26px;
}

.top-27 {
  margin-top: 27px;
}

.top-28 {
  margin-top: 28px;
}

.top-29 {
  margin-top: 29px;
}

.top-30 {
  margin-top: 30px;
}

.top-31 {
  margin-top: 31px;
}

.top-32 {
  margin-top: 32px;
}

.top-33 {
  margin-top: 33px;
}

.top-34 {
  margin-top: 34px;
}

.top-35 {
  margin-top: 35px;
}

.top-36 {
  margin-top: 36px;
}

.top-37 {
  margin-top: 37px;
}

.top-38 {
  margin-top: 38px;
}

.top-39 {
  margin-top: 39px;
}

.top-40 {
  margin-top: 40px;
}

.top-41 {
  margin-top: 41px;
}

.top-42 {
  margin-top: 42px;
}

.top-43 {
  margin-top: 43px;
}

.top-44 {
  margin-top: 44px;
}

.top-45 {
  margin-top: 45px;
}

.top-46 {
  margin-top: 46px;
}

.top-47 {
  margin-top: 47px;
}

.top-48 {
  margin-top: 48px;
}

.top-49 {
  margin-top: 49px;
}

.top-50 {
  margin-top: 50px;
}

.top-51 {
  margin-top: 51px;
}

.top-52 {
  margin-top: 52px;
}

.top-53 {
  margin-top: 53px;
}

.top-54 {
  margin-top: 54px;
}

.top-55 {
  margin-top: 55px;
}

.top-56 {
  margin-top: 56px;
}

.top-57 {
  margin-top: 57px;
}

.top-58 {
  margin-top: 58px;
}

.top-59 {
  margin-top: 59px;
}

.top-60 {
  margin-top: 60px;
}

.top-61 {
  margin-top: 61px;
}

.top-62 {
  margin-top: 62px;
}

.top-63 {
  margin-top: 63px;
}

.top-64 {
  margin-top: 64px;
}

.top-65 {
  margin-top: 65px;
}

.top-66 {
  margin-top: 66px;
}

.top-67 {
  margin-top: 67px;
}

.top-68 {
  margin-top: 68px;
}

.top-69 {
  margin-top: 69px;
}

.top-70 {
  margin-top: 70px;
}

.top-71 {
  margin-top: 71px;
}

.top-72 {
  margin-top: 72px;
}

.top-73 {
  margin-top: 73px;
}

.top-74 {
  margin-top: 74px;
}

.top-75 {
  margin-top: 75px;
}

.top-76 {
  margin-top: 76px;
}

.top-77 {
  margin-top: 77px;
}

.top-78 {
  margin-top: 78px;
}

.top-79 {
  margin-top: 79px;
}

.top-80 {
  margin-top: 80px;
}

.top-81 {
  margin-top: 81px;
}

.top-82 {
  margin-top: 82px;
}

.top-83 {
  margin-top: 83px;
}

.top-84 {
  margin-top: 84px;
}

.top-85 {
  margin-top: 85px;
}

.top-86 {
  margin-top: 86px;
}

.top-87 {
  margin-top: 87px;
}

.top-88 {
  margin-top: 88px;
}

.top-89 {
  margin-top: 89px;
}

.top-90 {
  margin-top: 90px;
}

.top-91 {
  margin-top: 91px;
}

.top-92 {
  margin-top: 92px;
}

.top-93 {
  margin-top: 93px;
}

.top-94 {
  margin-top: 94px;
}

.top-95 {
  margin-top: 95px;
}

.top-96 {
  margin-top: 96px;
}

.top-97 {
  margin-top: 97px;
}

.top-98 {
  margin-top: 98px;
}

.top-99 {
  margin-top: 99px;
}

.top-100 {
  margin-top: 100px;
}

html, body {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width : 1160px) {
  html, body {
    font-size: 15px;
  }
}
@media only screen and (max-width : 900px) {
  html, body {
    font-size: 14px;
  }
}
@media only screen and (max-width : 767px) {
  html, body {
    font-size: 12px;
  }
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #32b0ee;
  text-decoration: none;
  border: none;
}

ul,
ol,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  z-index: 3;
  height: 70px;
}
.navbar.color__index {
  background-color: rgba(14, 44, 43, 0.5);
}
.navbar.change__color {
  background-color: #1ea78d;
}
@media only screen and (max-width : 767px) {
  .navbar {
    height: 50px;
  }
}
.navbar.background__navbar__banner {
  background-color: rgba(14, 44, 43, 0.5);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
  font-size: 13px;
  flex-wrap: wrap;
}
@media only screen and (max-width : 767px) {
  .navbar .container {
    align-items: center;
  }
}
.navbar .container .inner__brand {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
}
.navbar .container .inner__brand a {
  padding: 2px 12px 12px 12px;
  text-decoration: none;
  margin-right: 38px;
}
.navbar .container .inner__brand a img {
  padding: 0;
}
.navbar .container .inner__brand p {
  color: rgba(255, 255, 255, 0.604);
  position: relative;
  font-weight: 300;
}
.navbar .container .inner__brand p::before {
  content: "";
  height: 18px;
  width: 1px;
  background: #154458;
  position: absolute;
  left: -21px;
  bottom: 1px;
}
@media only screen and (max-width : 767px) {
  .navbar .container .inner__brand a {
    margin: 0;
    padding: 0;
  }
  .navbar .container .inner__brand p {
    display: none;
  }
}
.navbar .container .inner__toggle {
  position: absolute;
  padding: 0;
  top: 10px;
  -webkit-transform: translate(-15%);
  transform: translate(-15%);
  right: 10px;
  height: 35px;
  width: 35px;
  background: none;
  border: none;
  outline: none;
  z-index: 1;
  display: none;
  color: #f2f2f2;
}
@media only screen and (max-width : 767px) {
  .navbar .container .inner__toggle {
    display: block;
    opacity: 0.5;
    font-size: 15px;
  }
}
.navbar .container .inner__collapse {
  margin-top: 33px;
  z-index: 1;
}
@media only screen and (max-width : 767px) {
  .navbar .container .inner__collapse {
    display: none;
    flex-flow: column;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    background: #0b1e0e;
  }
}
.navbar .container .inner__collapse a {
  padding: 33px 4px 0 4px;
  margin-left: 26px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.navbar .container .inner__collapse a:hover {
  color: #f2f2f2;
}
.navbar .container .inner__collapse a:hover::before {
  text-decoration: none;
  height: 1px;
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #32b0ee;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width : 767px) {
  .navbar .container .inner__collapse.show {
    margin-top: 50px;
    display: block;
    width: 70%;
  }
  .navbar .container .inner__collapse.show a {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 20px;
    justify-content: center;
  }
  .navbar .container .inner__collapse.show a.active::before {
    height: 0;
  }
  .navbar .container .inner__collapse.show a.active:hover {
    background-color: rgba(255, 255, 255, 0.604);
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
@media only screen and (max-width : 767px) {
  .container {
    padding: 0 15px 0 15px;
  }
}

.social__icon a {
  color: #f2f2f2;
  opacity: 0.5;
}
.social__icon a img {
  opacity: 0.5;
}
.social__icon a:hover {
  opacity: 1;
}
.social__icon a:hover img {
  opacity: 1;
}

.slick-slider ul {
  position: absolute;
}
.slick-slider ul.slick-dots {
  bottom: 0;
}
.slick-slider ul.slick-dots li {
  margin-bottom: 15px;
  padding: 0;
  width: 10px;
  height: 10px;
}
.slick-slider ul.slick-dots li button::before {
  font-size: 0;
  opacity: 0.8;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0;
}

.title {
  text-align: center;
}
.title h3 {
  color: #0eb493;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 17px;
  display: flex;
  flex-flow: column;
  font-size: 28px;
}
@media only screen and (max-width : 767px) {
  .title h3 {
    font-size: 20px;
  }
}
.title h3 span {
  max-width: 230px;
  margin: 0 auto;
  position: relative;
}
.title h3 span::before {
  content: "";
  width: 90px;
  height: 1px;
  background-color: #dce1e5;
  position: absolute;
  left: 28px;
  margin: 18px 0 7px 0;
}
@media only screen and (max-width : 767px) {
  .title h3 span::before {
    margin-top: 10px;
  }
}
.title h3 span::after {
  content: "";
  width: 90px;
  height: 1px;
  background-color: #dce1e5;
  position: absolute;
  right: 28px;
  margin: 18px 0 7px 0;
}
@media only screen and (max-width : 767px) {
  .title h3 span::after {
    margin-top: 10px;
  }
}
.title p {
  max-width: 970px;
  margin: 35px auto 0 auto;
  opacity: 0.5;
  font-size: 18px;
}
@media only screen and (max-width : 767px) {
  .title p {
    font-size: 13px;
  }
}

.image__hover {
  width: 100%;
  opacity: 0.8;
  color: #f2f2f2;
  text-align: center;
  background-color: #0eb493;
  position: absolute;
  transition: bottom 400ms ease-in-out;
  bottom: 100%;
}
@media only screen and (max-width : 767px) {
  .image__hover {
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }
}

.features {
  background-color: rgba(235, 235, 235, 0.8);
  height: 460px;
}
@media only screen and (max-width : 767px) {
  .features {
    height: 600px;
  }
}
.features .container {
  padding-bottom: 54px;
  padding-top: 94px;
}
@media only screen and (max-width : 767px) {
  .features .container {
    padding-top: 50px;
  }
}
.features .container .title {
  margin-bottom: 35px;
}
@media only screen and (max-width : 767px) {
  .features .container .title {
    margin-bottom: 10px;
  }
}
.features .container .features__slick ul {
  bottom: -110px;
}
@media only screen and (max-width : 767px) {
  .features .container .features__slick ul {
    bottom: -130px;
  }
}
.features .container .features__slick ul.slick-dots li button::before {
  border: 1px solid #c7ced3;
}
.features .container .features__slick ul.slick-dots li.slick-active button::before {
  background-color: #000000;
}
.features .container .features__slick .features__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
@media only screen and (max-width : 767px) {
  .features .container .features__slick .features__grid {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
.features .container .features__slick .features__grid .grid__items {
  display: flex;
  flex-flow: row;
}
.features .container .features__slick .features__grid .grid__items .items__icon {
  margin-bottom: 2px;
  width: 70px;
  position: absolute;
}
.features .container .features__slick .features__grid .grid__items .items__icon img {
  height: 40px;
  margin: 0 auto;
}
@media only screen and (max-width : 767px) {
  .features .container .features__slick .features__grid .grid__items .items__icon img {
    margin-right: 30px;
  }
}
.features .container .features__slick .features__grid .grid__items .items__content {
  margin-left: 70px;
}
.features .container .features__slick .features__grid .grid__items .items__content h4 {
  margin-bottom: 20px;
  font-size: 20px;
}
@media only screen and (max-width : 767px) {
  .features .container .features__slick .features__grid .grid__items .items__content h4 {
    font-size: 15px;
  }
}
.features .container .features__slick .features__grid .grid__items .items__content p {
  font-size: 13px;
  opacity: 0.5;
}
@media only screen and (max-width : 767px) {
  .features .container .features__slick .features__grid .grid__items .items__content p {
    font-size: 10px;
  }
}

.works {
  padding-top: 94px;
}
@media only screen and (max-width : 767px) {
  .works {
    padding-top: 50px;
  }
}
.works .title {
  margin-bottom: 55px;
}
.works .works__content .works__link {
  margin-bottom: 40px;
  text-align: center;
  padding: 0 15px;
}
.works .works__content .works__link .works__link--item {
  color: #000000;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 14px;
}
@media only screen and (max-width : 767px) {
  .works .works__content .works__link .works__link--item {
    padding: 4px 10px;
    font-size: 11px;
    margin-bottom: 6px;
  }
}
.works .works__content .works__link .works__link--item:hover {
  color: #f2f2f2;
  background-color: #0eb493;
  border-radius: 10px;
}
.works .works__content .works__link .works__link--item:not(:last-child) {
  margin-right: 8px;
}
.works .works__content .works__images--space {
  width: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width : 767px) {
  .works .works__content .works__images--space {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.works .works__content .works__images--space .works__image {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width : 767px) {
  .works .works__content .works__images--space .works__image {
    height: 200px;
  }
}
.works .works__content .works__images--space .works__image .image__hover img {
  margin-bottom: 25px;
  padding-top: 94px;
}
@media only screen and (max-width : 767px) {
  .works .works__content .works__images--space .works__image .image__hover img {
    padding-top: 34px;
  }
}
.works .works__content .works__images--space .works__image .image__hover h5 {
  margin-bottom: 6px;
  font-size: 20px;
}
@media only screen and (max-width : 767px) {
  .works .works__content .works__images--space .works__image .image__hover h5 {
    font-size: 16px;
  }
}
.works .works__content .works__images--space .works__image .image__hover p {
  font-size: 20px;
}
@media only screen and (max-width : 767px) {
  .works .works__content .works__images--space .works__image .image__hover p {
    font-size: 16px;
  }
}
.works .works__content .works__images--space .works__image:hover .image__hover {
  height: 100%;
  bottom: 0;
}

.team .container {
  padding-bottom: 215px;
  padding-top: 94px;
}
@media only screen and (max-width : 767px) {
  .team .container {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
.team .container .title {
  margin-bottom: 108px;
}
@media only screen and (max-width : 767px) {
  .team .container .title {
    margin-bottom: 50px;
  }
}
.team .container .team__slick ul {
  bottom: -105px;
}
@media only screen and (max-width : 767px) {
  .team .container .team__slick ul {
    bottom: -60px;
  }
}
.team .container .team__slick ul.slick-dots li button::before {
  border: 1px solid #c7ced3;
}
.team .container .team__slick ul.slick-dots li.slick-active button::before {
  background-color: #000000;
}
.team .container .team__slick .teammember__grid {
  text-align: center;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width : 767px) {
  .team .container .team__slick .teammember__grid {
    grid-template-columns: 1fr;
  }
}
.team .container .team__slick .teammember__grid .teammember__card {
  background-position: center;
  position: relative;
  overflow: hidden;
}
.team .container .team__slick .teammember__grid .teammember__card img {
  height: 300px;
  margin-bottom: 19px;
  display: block;
}
@media only screen and (max-width : 767px) {
  .team .container .team__slick .teammember__grid .teammember__card img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.team .container .team__slick .teammember__grid .teammember__card .teammember__info h4 {
  font-size: 18px;
  margin-bottom: 13px;
}
.team .container .team__slick .teammember__grid .teammember__card .teammember__info p {
  font-size: 14px;
  opacity: 0.5;
}
.team .container .team__slick .teammember__grid .teammember__card .teammember__hover {
  height: 300px;
  padding: 20px;
}
@media only screen and (max-width : 767px) {
  .team .container .team__slick .teammember__grid .teammember__card .teammember__hover {
    padding-top: 16px;
  }
}
.team .container .team__slick .teammember__grid .teammember__card .image__hover {
  width: 230px;
  height: 260px;
}
@media only screen and (max-width : 767px) {
  .team .container .team__slick .teammember__grid .teammember__card .image__hover {
    width: 140px;
  }
}
.team .container .team__slick .teammember__grid .teammember__card .image__hover h5 {
  padding-top: 20px;
  font-size: 16px;
  margin-bottom: 14px;
}
@media only screen and (max-width : 767px) {
  .team .container .team__slick .teammember__grid .teammember__card .image__hover h5 {
    padding-top: 100px;
    font-size: 12px;
    margin-bottom: 6px;
  }
}
.team .container .team__slick .teammember__grid .teammember__card .image__hover p {
  font-size: 16px;
}
@media only screen and (max-width : 767px) {
  .team .container .team__slick .teammember__grid .teammember__card .image__hover p {
    font-size: 12px;
  }
}
.team .container .team__slick .teammember__grid .teammember__card .image__hover nav {
  display: flex;
  justify-content: space-between;
  width: 134px;
  margin: 45px auto 23px;
}
@media only screen and (max-width : 767px) {
  .team .container .team__slick .teammember__grid .teammember__card .image__hover nav {
    margin: 10px auto 0;
  }
}
.team .container .team__slick .teammember__grid .teammember__card .image__hover nav a {
  width: 42px;
  display: block;
  text-align: center;
  line-height: 42px;
  background: #0a7e67;
}
.team .container .team__slick .teammember__grid .teammember__card .image__hover nav a img {
  height: 20px;
  width: 20px;
  margin: 11px auto;
}
@media only screen and (max-width : 767px) {
  .team .container .team__slick .teammember__grid .teammember__card .image__hover nav a img {
    height: 15px;
    width: 15px;
    margin: 14px auto;
  }
}
.team .container .team__slick .teammember__grid .teammember__card .image__hover nav a:hover {
  color: #f2f2f2;
  opacity: 0.5;
}
.team .container .team__slick .teammember__grid .teammember__card .image__hover nav a:hover img {
  opacity: 0.5;
}
.team .container .team__slick .teammember__grid .teammember__card:hover .image__hover {
  bottom: 69px;
}
.team .container .team__slick .teammember__grid .teammember__card:hover .teammember__info h4 {
  color: #0eb493;
}

.funfact {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.funfact .container {
  z-index: 1;
  padding-bottom: 157px;
  padding-top: 94px;
}
@media only screen and (max-width : 767px) {
  .funfact .container {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
.funfact .container .title {
  margin-bottom: 23px;
}
.funfact .container .funfact__grid {
  text-align: center;
  display: grid;
  gap: 30px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width : 767px) {
  .funfact .container .funfact__grid {
    grid-template-columns: 1fr 1fr;
  }
}
.funfact .container .funfact__grid .funfact__grid--item {
  color: #f2f2f2;
}
.funfact .container .funfact__grid .funfact__grid--item img {
  display: block;
  margin: 0 auto;
  width: 130px;
  margin-bottom: 40px;
}
@media only screen and (max-width : 767px) {
  .funfact .container .funfact__grid .funfact__grid--item img {
    width: 80px;
  }
}
.funfact .container .funfact__grid .funfact__grid--item .item__info h2 {
  font-weight: 400;
  font-size: 54px;
  margin-bottom: 8px;
}
@media only screen and (max-width : 767px) {
  .funfact .container .funfact__grid .funfact__grid--item .item__info h2 {
    font-size: 40px;
  }
}
.funfact .container .funfact__grid .funfact__grid--item .item__info p {
  text-transform: uppercase;
  font-size: 18px;
}
@media only screen and (max-width : 767px) {
  .funfact .container .funfact__grid .funfact__grid--item .item__info p {
    font-size: 14px;
  }
}

.discuss {
  border-bottom: 5px solid #062033;
}
.discuss .container {
  padding-top: 94px;
}
@media only screen and (max-width : 767px) {
  .discuss .container {
    padding-top: 50px;
  }
}
.discuss .container .title {
  margin-bottom: 80px;
}
.discuss .container .discuss__grid {
  display: grid;
  gap: 30px;
  width: 100%;
  margin-bottom: 107px;
  grid-template-columns: 3.86fr 11fr 1fr;
}
@media only screen and (max-width : 767px) {
  .discuss .container .discuss__grid {
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 330px 30px;
  }
}
.discuss .container .discuss__grid .discuss__grid--address h4 {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 38px;
}
.discuss .container .discuss__grid .discuss__grid--address p {
  font-size: 13px;
  opacity: 0.8;
  max-width: 170px;
}
.discuss .container .discuss__grid .discuss__grid--form h4 {
  color: #062033;
  margin-bottom: 50px;
  font-size: 24px;
}
.discuss .container .discuss__grid .discuss__grid--form form {
  display: grid;
  gap: 30px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.discuss .container .discuss__grid .discuss__grid--form form input[type=text] {
  width: 100%;
  padding: 8px 20px 20px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #cccccc;
}
.discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--title {
  grid-column: 1/3;
  font-weight: 600;
  font-size: 24px;
}
.discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--name {
  grid-column: 1/2;
}
@media only screen and (max-width : 767px) {
  .discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--name {
    grid-column: 1/3;
  }
}
.discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--email {
  grid-column: 2/3;
}
@media only screen and (max-width : 767px) {
  .discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--email {
    grid-column: 1/3;
  }
}
.discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--message {
  grid-column: 1/3;
}
.discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--send {
  grid-column: 2/3;
}
.discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--send a {
  float: right;
  display: flex;
  align-items: center;
  color: #000000;
}
.discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--send a .social__icon {
  padding-top: 17px;
}
.discuss .container .discuss__grid .discuss__grid--form form .discuss__grid--send a svg {
  color: #0eb493;
  margin-right: 12px;
  width: 23px;
}
.discuss .container .discuss__grid .socials__item {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width : 767px) {
  .discuss .container .discuss__grid .socials__item {
    text-align: center;
    grid-template-rows: 1fr;
    grid-template-columns: 50px 50px 50px 50px 50px;
    margin: 0 auto;
  }
}
.discuss .container .discuss__grid .socials__item a {
  height: 24px;
  text-align: center;
  padding: 0;
  margin-bottom: auto;
  margin-top: auto;
}
@media only screen and (max-width : 767px) {
  .discuss .container .discuss__grid .socials__item a {
    height: 20px;
  }
}
.discuss .container .discuss__grid .socials__item a svg {
  width: 26px;
  height: 100%;
  padding: 0;
  color: #cdd2d6;
}
.discuss .container .discuss__grid .socials__item a img {
  height: 100%;
}
.discuss .container .discuss__grid .socials__item a:hover {
  opacity: 0.5;
}
.discuss iframe {
  width: 100%;
  height: 215px;
}

.footer {
  background-size: cover;
}
.footer .container {
  padding-top: 98px;
  padding-bottom: 125px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width : 767px) {
  .footer .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.footer .container .footer__item {
  color: #f2f2f2;
  position: relative;
}
.footer .container .footer__item h4 {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 38px;
}
.footer .container .footer__item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
}
.footer .container .footer__item p img {
  margin: 0 10px;
}
.footer .container .footer__item p span {
  color: #000000;
}
.footer .container .footer__item.description img {
  margin-bottom: 38px;
}
.footer .container .footer__item.subscribe h4 {
  margin-bottom: 45px;
}
.footer .container .footer__item.subscribe form {
  margin-bottom: 22px;
  position: relative;
}
.footer .container .footer__item.subscribe form input[type=text] {
  width: 100%;
  height: 46px;
  padding: 20px 40px 20px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  background-color: inherit;
  border-radius: 5px;
}
.footer .container .footer__item.subscribe form a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.footer .container .footer__item.subscribe form a:hover {
  opacity: 0.5;
}
.footer .container .footer__item .explore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.footer .container .footer__item.coppyright {
  padding-top: 68px;
}
.footer .container .footer__item.coppyright .coppyright__heart {
  margin-bottom: 53px;
}
.footer .container .footer__item.coppyright .coppyright__heart::after {
  content: "";
  height: 39px;
  width: 1px;
  background: #717171;
  position: absolute;
  left: -12px;
  top: 72px;
}
.footer .container .footer__item.coppyright .coppyright__brandi {
  color: #000000;
}

.banner__wrapper .item__content {
  z-index: 1;
  position: absolute;
  text-align: center;
  color: #f2f2f2;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 460px;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper .item__content {
    top: 220px;
  }
}
.banner__wrapper .item__content h2 {
  font-weight: 300;
  font-size: 62px;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper .item__content h2 {
    font-size: 36px;
  }
}
.banner__wrapper .item__content h2 span {
  font-weight: 900;
}
.banner__wrapper .item__content h3 {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 18px;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper .item__content h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }
}
.banner__wrapper .item__content h3 span {
  color: #0fda93;
}
.banner__wrapper .item__content p {
  position: absolute;
  font-weight: 300;
  font-size: 18px;
  left: 50%;
  transform: translateX(-50%);
}
.banner__wrapper .item__content p::before {
  content: "";
  width: 28px;
  height: 1px;
  background-color: #0fda93;
  position: absolute;
  left: -58px;
  margin: 10px 0 9px 0;
}
.banner__wrapper .item__content p::after {
  content: "";
  width: 28px;
  height: 1px;
  background-color: #0fda93;
  position: absolute;
  right: -58px;
  margin: 10px 0 9px 0;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper .item__content p {
    font-size: 12px;
  }
  .banner__wrapper .item__content p::before {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #0fda93;
    position: absolute;
    left: -31px;
    margin: 8px 0 7px 0;
  }
  .banner__wrapper .item__content p::after {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #0fda93;
    position: absolute;
    right: -31px;
    margin: 8px 0 7px 0;
  }
}
.banner__wrapper nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row;
  z-index: 1;
  top: 730px;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper nav {
    top: 370px;
  }
}
.banner__wrapper nav a {
  opacity: 0.5;
}
.banner__wrapper nav a:hover {
  opacity: 1;
  color: #f2f2f2;
}
.banner__wrapper nav a.social__icon:not(:last-child) {
  margin-right: 15px;
}
.banner__wrapper .banner {
  margin-bottom: 0;
}
.banner__wrapper .banner ul {
  padding-right: 63px;
  flex-flow: column;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper .banner ul {
    flex-flow: row;
  }
}
.banner__wrapper .banner ul.slick-dots {
  top: 40%;
  right: 0;
  left: auto;
  width: 0;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper .banner ul.slick-dots {
    top: 340px;
    right: 0;
    left: 50%;
    transform: translateX(-30px);
    width: 60px;
  }
}
.banner__wrapper .banner ul.slick-dots li {
  display: block;
  margin-bottom: 15px;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper .banner ul.slick-dots li {
    display: inline-block;
  }
}
.banner__wrapper .banner ul.slick-dots li button {
  width: 0;
  height: 0;
}
.banner__wrapper .banner ul.slick-dots li button::before {
  border: 1px solid rgba(255, 255, 255, 0.604);
}
.banner__wrapper .banner ul.slick-dots li.slick-active button::before {
  background-color: #f2f2f2;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper .banner ul.slick-dots li.slick-active button::before {
    background-color: rgba(255, 255, 255, 0.604);
  }
}
.banner__wrapper .banner.slick-slider {
  margin-bottom: 0;
}
.banner__wrapper .banner .banner__item {
  background-size: cover;
  background-position: center;
  height: 800px;
}
@media only screen and (max-width : 767px) {
  .banner__wrapper .banner .banner__item {
    height: 400px;
  }
}
